/* CSS */
body {
  /*background-color: #315481;
  background-image: linear-gradient(to bottom, #40af9f, #c40000 100%);
  background-attachment: fixed;
  
  opacity: 1;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;*/
  
  

  background-color: rgba(20, 80, 120, .25); /* fallback for old browsers */
          
}

.loginButton{
     width: 100px;
     background-color: cyan;
}

input[type=number]{
    margin-bottom: 2px;
    width: 75px;
    height: 30px;
} 

.center {
   vertical-align: top;
}

.pic {
   position: relative;
   left: 50%;
   margin-left: -640px;
   margin-top: -15%;
}

input[type="color"] {
    height: 30px;
}
input[type="number"] {
    height: 30px;
}