/* CSS */
body {
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.loginButton{
     width: 100px;
     background-color: cyan;
}

html *
   font-size: 1.4em !important;
   font-family: "Times New Roman", Times, serif !important;
}

input[type=number]{
    width: 60px;
    height: 30px;
} 

.center {
   vertical-align: top;
}

.pic {
   position: relative;
   left: 50%;
   margin-left: -640px;
   margin-top: -15%;
}

input[type="color"] {
    height: 30px;
}
input[type="number"] {
    height: 30px;
}

.settings-text {
  color: white;
}