/* CSS */
body {
  /*background-color: #315481;
  background-image: linear-gradient(to bottom, #40af9f, #c40000 100%);
  background-attachment: fixed;
  
  opacity: 1;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;*/
  
  

  background-color: rgba(20, 80, 120, .25); /* fallback for old browsers */
          
}

/*

input[type=number]{
    margin-bottom: 2px;
    width: 100px;
    height: 30px;
} 
*/


.center {
   vertical-align: top;
}

/* Trigger for updating canvas */
.updateTrigger {
    
}

/* Trigger for using color picker */
.colorpickerTrigger {
    
}

.pic {
  position: relative;
   /* left: 50%; */
   /*margin-left: -640px;
   margin-top: -15%;*/
}

/*
input[type="color"] {
    height: 30px;
}
input[type="number"] {
}
*/

.settings {
    width: 120px !important;
    height: 35px !important;
    padding: 6px !important;
    margin: 10px !important;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input { 
    text-align: center; 
}